@import 'foundation-icons';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; 
}

#container {
  width: 1130px;
  height: 2000px;
  margin: 35px; 
  // background-color: red;
  padding: 20px;
  overflow: hidden;
  font-family: helvetica
}

#left-div {
  float: left;
  width: 650px;
  height: 100%;
  // background-color: blue;
}

#right-div {
  float: right;
  height: 100%;
  width: 440px; 
  background-color: white;
  a {
    text-decoration: none;
    color: #00BFFF;
  }
}

#activity-feed-body {
  padding: 10px;
  border-top: 1px solid #f1f1f1;
  
  i {
    display: inline-block;
    font-size: 20px;
  }
  #feed-message {
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
  }
  #time-ago {
  font-weight: 100;
  color: #bbb;
  }
}

#table-header {
  width: auto;
  height: 105px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

#posts-feed {
  width: auto;
  margin-top: 5px;
  height: 1000px;
  background-color: #FAFAFA;
  border-radius: 5px; 
  a {
    text-decoration: none;
    color: #00BFFF;
  }
  #post-body {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    padding: 10px;
    font-size: 35px;
  }
  #post-body:hover {
    background-color: darken(#F5F5F5, 5%);
  }
}

#entries {
  display: inline-block;
  font-size: 95px;
  text-decoration: underline;
}

#new-entry {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  padding-top: 20px;
  margin: 10px 5px 0px 20px;
  display: inline-block;
  float: right;
  vertical-align: top;
  text-align: center;
  width: 200px;
  height: 65px;
  border-radius: 25px;
  background-color: #32cd32;
  color: #F5F5F5;
  font-size: 30px;
  text-decoration: none;
}

#new-entry:hover {
    background-color: darken(#32cd32, 5%);
  }








