@import 'foundation-icons';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; 
}

#container {
  width: auto;
  height: 2000px;
  margin-right: 5%; 
  margin-left: 5%;
  // background-color: red;
  padding: 20px;
}

#left-div {
  float: left;
  width: 60%;
  height: 100%;
  // background-color: blue;
}

#right-div {
  float: right;
  height: 100%;
  width: 40%; 
  background-color: white;
  a {
    text-decoration: none;
    color: blue;
  }
}

#activity-feed-body {
  padding: 10px;
  border-top: 1px solid #f1f1f1;
  
  i {
    display: inline-block;
    font-size: 20px;
  }
  #feed-message {
    display: inline-block;
    font-size: 13px; 
    font-family: helvetica;
    font-weight: bold;
  }
  #time-ago {
  font-weight: 100;
  color: #bbb;
  }
}

#table-header {
  margin: 10px 2% 0px 2%;
  width: auto;
  height: 105px;
  background-color: #F5F5F5;
}

#posts-feed {
  width: auto;
  margin: 5px 2% 0px 2%;
  height: 1000px;
  background-color: #FAFAFA;
  border-radius: 5px; 
  a {
    text-decoration: none;
    font-family: helvetica;
    color: blue;
  }
  #post-body {
    padding: 10px;
  }
}

#entries {
  display: inline-block;
  font-family: helvetica;
  font-size: 13vmin;
  text-decoration: underline;
}

#new-entry {
  padding-top: 20px;
  margin: 10px 5px 0px 20px;
  display: inline-block;
  float: right;
  vertical-align: top;
  text-align: center;
  width: 40%;
  height: 65%;
  border-radius: 25px;
  background-color: #32cd32;
  a {
    color: grey;
    font-family: helvetica;
    font-size: 5vmin;
    text-decoration: none;
  }
}








